body{

   background-image: url("../imgs/Background.jpg");

}

.w3-main{
   margin: 10px;
}
.styleMe{
    border-radius: 25px;
    border: 2px solid #009688;
    /*padding: 20px;*/
    display: block;
    width:44%;
    height: 44% ;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;

}
li{
   margin: 2%;
}
.w3-top{
   /*background-image: url("../imgs/nav.jpg");*/
   width: 80%;
   margin: auto;
}

.w3-twothird{
   width: 80%;
   margin: auto;
}

p{
   margin-left: 40px;
   margin-right: 40px;
}
#overAll{
   width:80%;
   margin: auto;
   background-color: white;
}

.w3-container{
   width: 100%;
}
